/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; } input:focus, select:focus, textarea:focus, button:focus {outline: none; }
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    font-family: "Source Sans Pro", sans-serif;
    padding: 0 30px;
    color: #333;
    text-rendering: optimizeLegibility;
    background: #D7D7D7 url(../images/topo.png);
    background-size: 1000px;
}

.page {
	max-width: 800px;
  min-height: 1000px;
	margin: 80px auto;
	padding: 174px 98px 60px 98px;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	background: #fff url(../images/crest.svg) no-repeat 50% 60px;
	}

p {
	padding-bottom: 28px;
}

hr {
  height: 1px;
  margin-bottom: 28px;
  border: 1px solid #eee;
}

.tiny {
  font-size: 11px;
}

.center {
	text-align: center;
}

h1 {
	font-size: 30px;
	color: #c00;
	text-align: center;
}

h1.moarspace {
	padding-bottom: 50px;
}

h2 {
	color: #c00;
	padding-bottom: 24px;
  text-transform: uppercase;
}

h3 {
	font-weight: 500;
}

sup {
  vertical-align: super;
  font-size: 10px;
  color: #c00;
}

a {
  text-decoration: none;
	color: #c00;
  border-bottom: 1px solid #c00;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

.logo {
	text-indent: 100%; white-space: nowrap; overflow: hidden;
	background: url(../images/logo.svg) no-repeat 0 0;
  background-size: contain;
  width: 220px;
}

figure {
  padding-bottom: 28px;
}

figcaption {
  font-size: 14px;
  line-height: 20px;
}

.figinline {
  width: 30px;
  vertical-align: middle;
}

.embiggen {
  font-size: 30px;
}

ol {
	counter-reset:li;
  padding-bottom: 28px;
}
ol > li {
	position:relative;
	margin:0 0 0 40px;
	padding:4px 0;
	list-style:none;
}
ol > li:before {
	content:counter(li);
	counter-increment:li;
	position:absolute;
	top: 4px;
	left: -40px;
	width: 30px;
  height: 30px;
	color: #fff;
	background: #c00;
	text-align: center;
  font-weight: 600;
  line-height: 28px;
  border-radius: 300px;
}

.nav {
  margin: 80px auto 0 auto;
  text-align: center;
  max-width: 800px;
}

a.navlink {
  text-decoration: none;
  border: 0;
  margin: 0 20px;
  color: #666;
  font-size: 18px;
}

.footer {
  margin: 0 auto 80px auto;
  text-align: center;
  max-width: 800px;
  color: #666;
  font-size: 14px;
}


@media (max-width: 700px) {
body {padding: 0;}
}

@media (max-width: 600px) {
.page {width: 100%; margin:0; padding: 174px 68px 40px 68px;}
}

@media (max-width: 400px) {
.page {padding: 174px 40px 40px 40px;}
}
